html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Disabilita lo scrolling */
    background-color: aqua;
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    margin-top: 2em;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5%;
    border: 3px solid rgba(255,96,0,1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  }
  
  .form-container:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    border-color: rgba(0,145,255,1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .form-control, .form-select {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .img-thumbnail {
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .custom-btn {
    width: 10em;
    padding: 0.5em 1em;
    border-radius: 25px;
    border: 3px solid rgba(255,96,0,1);
    background-color: transparent;
    color: rgba(255,96,0,1);
    font-size: 1em;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .custom-btn:hover {
    background-color: rgba(255,96,0,1);
    color: white;
    border-color: rgba(0,145,255,1);
  }
  
  .alert {
    font-size: 0.9em;
    text-align: center;
  }
  