<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" formControlName="nome" class="form-control" placeholder="Inserisci il tuo nome">
      <div *ngIf="registrationForm.get('nome')?.invalid && registrationForm.get('nome')?.touched" class="alert alert-danger">
        Il nome è obbligatorio.
      </div>
    </div>
  
    <div class="form-group">
      <label for="cognome">Cognome</label>
      <input type="text" id="cognome" formControlName="cognome" class="form-control" placeholder="Inserisci il tuo cognome">
      <div *ngIf="registrationForm.get('cognome')?.invalid && registrationForm.get('cognome')?.touched" class="alert alert-danger">
        Il cognome è obbligatorio.
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Inserisci la tua email">
      <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="alert alert-danger">
        Inserisci una email valida.
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Inserisci la tua password">
      <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="alert alert-danger">
        La password è obbligatoria.
      </div>
    </div>
  
    <!-- Campo per la foto -->
    <div class="form-group">
      <label for="foto">Carica una Foto (opzionale)</label>
      <input type="file" id="foto" (change)="onFileSelected($event)" class="form-control">
    </div>
  
    <!-- Messaggio di errore -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Regi
  