<div class="register-container">
  <div class="register-box">
    <h2>Registrazione</h2>

    <form (ngSubmit)="register()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input 
          type="text" 
          class="form-control" 
          id="nome" 
          [(ngModel)]="newUser.nome" 
          name="nome"
          required
          placeholder="Inserisci il tuo nome" />
      </div>

      <div class="form-group">
        <label for="cognome">Cognome</label>
        <input 
          type="text" 
          class="form-control" 
          id="cognome" 
          [(ngModel)]="newUser.cognome" 
          name="cognome"
          required
          placeholder="Inserisci il tuo cognome" />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          [(ngModel)]="newUser.email" 
          name="email"
          required
          placeholder="Inserisci la tua email" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          [(ngModel)]="newUser.password" 
          name="password"
          required
          placeholder="Inserisci una password sicura" />
      </div>

      <div class="form-group">
        <label for="foto">Carica una Foto (opzionale)</label>
        <input 
          type="file" 
          class="form-control-file" 
          id="foto" 
          (change)="onFileSelected($event)" />
      </div>

      <!-- Mostra il messaggio di errore se presente -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn btn-primary btn-block">Registrati</button>
    </form>
  </div>
</div>
