<div class="modalita-container">
    <h2>Elenco Modalità</h2>
  
    <div *ngIf="modalitaList && modalitaList.length > 0; else noModalita">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tipo Modalità</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let modalita of modalitaList">
            <td>{{ modalita.iD_Modalita }}</td>
            <td>{{ modalita.tipoModalita }}</td>
            <td>
              <button (click)="editModalita(modalita.iD_Modalita)" class="btn btn-primary">
                Modifica
              </button>
              <button (click)="deleteModalita(modalita.iD_Modalita)" class="btn btn-danger">
                Elimina
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Messaggio nel caso non ci siano modalità -->
    <ng-template #noModalita>
      <p>Nessuna modalità trovata.</p>
    </ng-template>
  
    <!-- Pulsante per aggiungere una nuova modalità -->
    <button (click)="addModalita()" class="btn btn-success">
      Aggiungi Modalità
    </button>
  </div>
  