<div class="container">
  <h2>Gestione Modalità</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo Modalità</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modalita of modalitaList">
        <td>{{ modalita.iD_Modalita }}</td>
        <td>{{ modalita.tipoModalita }}</td>
        <td>
          <button class="btn btn-primary" (click)="editModalita(modalita.iD_Modalita)">Modifica</button>
          <button class="btn btn-danger" (click)="deleteModalita(modalita.iD_Modalita)">Elimina</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" (click)="createModalita()">Crea Nuova Modalità</button>
</div>
