<div class="container">
  <h2>Lista di tutte le aste</h2>

  <button routerLink="/Asta/create" class="btn btn-primary mb-3">Crea Nuova Asta</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Asta</th>
        <th>Nome Utente</th>
        <th>Tipo Asta</th>
        <th>Numero Squadre</th>
        <th>Crediti Disponibili</th>
        <th>Modalità</th>
        <th>Dettagli</th>
        <th>Modifica</th>
        <th>Elimina</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asta of aste">
        <td>{{ asta.iD_Asta }}</td>
        <td>{{ asta.nomeUtente }}</td>
        <td>{{ asta.tipoAstaDescrizione }}</td>
        <td>{{ asta.numeroSquadre }}</td>
        <td>{{ asta.creditiDisponibili }}</td>
        <td>{{ asta.nomeModalita }}</td>
        <td>
          <a [routerLink]="['/Asta/dettagli', asta.iD_Asta]" class="btn btn-info">Dettagli</a>
        </td>
        <td>
          <a [routerLink]="['/Asta/update', asta.iD_Asta]" class="btn btn-warning">Modifica</a>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDeleteAsta(asta.iD_Asta)">Elimina</button> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
