<!-- Fase delle impostazioni dell'asta -->
<div *ngIf="isAstaImpostazioni && !astaInCorso">
  <app-asta-impostazioni (impostazioniComplete)="onImpostazioniComplete($event)"></app-asta-impostazioni>
</div>

<!-- Fase di gestione dell'asta (operazioni e squadre) -->
<div *ngIf="astaInCorso && !isAstaImpostazioni">
  
  
<!-- Componente Operazioni -->
<div class="mb-5"> <!-- Aggiunta di una classe margin-bottom -->
  <app-operazioni-create [idAsta]="idAstaCorrente"></app-operazioni-create>
</div>

<!-- Componente SquadraAsta -->
<div class="mt-5"> <!-- Aggiunta di una classe margin-top -->
  <app-squadra-asta *ngIf="idAstaCorrente !== null" [idAstaCorrente]="idAstaCorrente"></app-squadra-asta>
</div>

  <!-- Pulsante per terminare l'asta -->
  <button (click)="terminaAsta()" class="btn btn-danger mt-3">Termina Asta</button>
</div>

<!-- Schermata per una nuova asta solo se l'asta è terminata e non si stanno settando le impostazioni -->
<div *ngIf="!astaInCorso && !isAstaImpostazioni">
  <h2>Asta Terminata</h2>
  <button (click)="iniziaNuovaAsta()" class="btn btn-primary">Inizia Nuova Asta</button>
</div>
