<!-- Pulsante per aprire/chiudere la sidebar -->
<button class="toggle-btn" (click)="openOffcanvas(content)">
  <img src="assets/images/PalloneLogo.png" alt="Apri Menu" class="toggle-icon">
</button>

<!-- Offcanvas Sidebar -->
<ng-template #content let-offcanvas>
  <div class="offcanvas-header d-flex justify-content-between align-items-center">
    <h5 class="offcanvas-title">AstaGol</h5>
    <button type="button" class="btn-close btn-close-custom" (click)="offcanvas.dismiss('Cross click')" aria-label="Close"></button>


  </div>

  <div class="d-flex justify-content-between align-items-center mb-0">
    <!-- Pulsante per aprire il modale del profilo, visibile solo se loggato -->
    <button *ngIf="isLoggedIn" class="btn btn-transparent d-flex align-items-center" (click)="openModal(modalContent)">
      <img [src]="getUserPhotoUrl(user?.foto)" alt="Foto Utente" class="profile-img" />
      <span>Visualizza Profilo</span>
    </button>



  </div>

  <div class="offcanvas-body d-flex flex-column align-items-center">
    <!-- Pulsante Accedi (visibile solo se non loggato) -->
    <div *ngIf="!isLoggedIn" class="block">
      <a class="block-link" routerLink="/auth">Accedi</a>
    </div>

    <!-- Home e pulsanti visibili per tutti -->
    <div class="block">
      <a class="block-link" routerLink="/">Home</a>
    </div>

    <div  *ngIf="isLoggedIn" class="block">
      <a class="block-link" routerLink="/giocatori">Giocatori</a>
    </div>

    <div   class="block">
      <a class="block-link" routerLink="/Regolamento">Regolamento</a>
    </div>

    <!-- Visibili solo se loggato -->
    <div *ngIf="isLoggedIn" class="block">
      <a class="block-link" routerLink="/Fantacalcio">Fantacalcio</a>
    </div>

    <div *ngIf="isLoggedIn" class="block">
      <a class="block-link" routerLink="/operazioni">Operazioni</a>
    </div>

    <!-- Logout button, visibile solo se loggato -->
    <div *ngIf="isLoggedIn" class="block">
      <button class="block-logout" (click)="logout()">Logout</button>
    </div>
  </div>
</ng-template>


<!-- Modale Profilo Utente -->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Ciao {{ user?.nome }} {{ user?.cognome }}!</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body d-flex flex-column justify-content-center align-items-center">
    <!-- Visualizza l'immagine dell'utente -->
    <img [src]="getUserPhotoUrl(user?.foto)" alt="Foto Utente" class="user-photo" />


    <!-- Altre informazioni dell'utente -->
    <p class="mt-2">Email: {{ user?.email }}</p>
    <p>Registrato il: {{ user?.dataRegistrazione | date }}</p>
  </div>
  <div class="modal-footer d-flex justify-content-between align-items-center">
    <!-- Pulsante per caricare una nuova immagine -->
    <input type="file" id="file-upload" (change)="onFileSelected($event)" hidden />
    <button type="button" class="modal-btn button-3d" (click)="triggerFileInput()">Carica Nuova Immagine</button>

    <!-- Pulsante per aggiornare la foto -->
    <button type="button" class="modal-btn button-3d" (click)="onSubmit()">Aggiorna Immagine</button>
</div>



</ng-template>