<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Il Mio Sito</a>
  
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="{ 'collapse': isCollapsed }" class="navbar-collapse">
    <ul class="navbar-nav ml-auto">
      
      <!-- Se l'utente è loggato, mostra il link alla Dashboard -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      
      <!-- Se l'utente non è loggato, mostra il link "Accedi" -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/auth">Accedi</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/giocatori">Calciatori</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/ruoli">Ruoli Mantra</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/modalita">Modalita</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/TipoAsta">Tipo Asta</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/Asta">Asta</a>
      </li>

      <!-- Se l'utente è loggato, mostra il pulsante di logout -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="nav-link" (click)="logout()">Logout</button>
      </li>

    </ul>
  </div>
</nav>
