<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
  <div class="form-container-small">
    <h2>Associa Ruoli Mantra a {{ giocatore?.nome }} {{ giocatore?.cognome }}</h2>

    <!-- Visualizza i ruoli disponibili con checkbox per la selezione -->
    <div class="form-group" *ngFor="let ruolo of ruoli">
      <label class="form-label">
        <input type="checkbox" (change)="onRuoloSelected(ruolo.iD_Ruolo, $event)">
        {{ ruolo.nomeRuolo }}
      </label>
    </div>

    <!-- Bottone per associare i ruoli selezionati -->
    <div class="button-container mt-4">
      <button (click)="addRuoloMantra()" type="button" class="btn btn-primary custom-btn">
        Associa Ruoli
      </button>

      <button (click)="tornaAiGiocatori()" type="button" class="btn btn-secondary custom-btn ml-2">
        Torna ai Giocatori
      </button>
    </div>

    <!-- Messaggio di successo -->
    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

    <!-- Errore se presente -->
    <div *ngIf="errore" class="alert alert-danger mt-3">{{ errore }}</div>
  </div>
</div>
