<div class="container">
  <h2>Associa Ruoli Mantra a {{ giocatore.nome }} {{ giocatore.cognome }}</h2>

  <!-- Visualizza i ruoli disponibili con checkbox per la selezione -->
  <div *ngFor="let ruolo of ruoli">
    <label>
      <input type="checkbox" (change)="onRuoloSelected(ruolo.iD_Ruolo, $event)">
      {{ ruolo.nomeRuolo }}
    </label>
  </div>

  <!-- Bottone per associare i ruoli selezionati -->
  <button (click)="addRuoloMantra()" type="button" class="btn btn-primary">Associa Ruoli</button>
</div>
