<div class="container" *ngIf="squadre.length > 0">
  <div class="row">
    <div *ngFor="let squadra of squadre" class="col-md-4">
      <div class="card">
        <img [src]="squadra.stemma ? 'https://localhost:7260' + squadra.stemma : 'https://localhost:7260/uploads/default-stemma.jpg'" class="card-img-top" alt="{{ squadra.nome }}">
        <div class="card-body">
          <h5 class="card-title">{{ squadra.nome }}</h5>
          <p class="card-text">Crediti Totali: {{ squadra.creditiTotali }}</p>
          <p class="card-text">Crediti Spesi: {{ squadra.creditiSpesi }}</p>

          <!-- Pulsante per aprire il modale, passa sia la squadra che il contenuto del modale -->
          <button class="btn btn-primary" (click)="openModal(squadra, content)">Modifica Squadra</button>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of operazioniSquadra[squadra.iD_Squadra]">
            {{ item.giocatore.cognome }} - Ruolo Classic: {{ item.giocatore.ruoloClassic }} - Crediti Spesi: {{ item.operazione.creditiSpesi }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modale -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifica Squadra</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="aggiornaSquadra(modal)">
      <div class="form-group">
        <label for="nomeSquadra">Nome Squadra</label>
        <input type="text" [(ngModel)]="squadraCorrente.nome" name="nomeSquadra" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="fotoSquadra">Cambia Stemma</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Salva Modifiche</button>
    </form>

    <!-- Anteprima immagine -->
    <div *ngIf="previewUrl">
      <h5>Anteprima Foto:</h5>
      <img [src]="previewUrl" alt="Anteprima immagine" class="img-thumbnail" style="max-width: 200px;">
    </div>
  </div>
</ng-template>

<!-- Pulsante Modifica Squadra -->
